@import url('https://fonts.googleapis.com/css?family=Black+Han+Sans|Noto+Sans+TC|Playfair+Display');
body{
    display: block;
    font-family: 'Playfair Display', serif;
    font-size: 20px;
    margin-top: 50px;
    margin-bottom: 50px;
}
h1 {
    text-align: center;
    color: red;
    font-size: 40px;

}
ol{
    display: block;
    margin-left:500px;
    width: 150px;
}
b{
    color: red;
}
i{
    color: blue;

}
h2{
    margin-left:435px;
    color: green;
}
b
{
    color: red;

}
div#text1{
    display: block;
    margin-left: 435px;
    width: 800px;
}
ul{
    display: block;
    font-style: italic;
    color: #ff0078;
}
div#text2 {
    display: block;
    margin-left: 435px;
    width: 800px;
}
